.form__div {
    padding-top:40px;
    text-align: center;
};

.form__input {
    outline: none;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    padding: .6em 1.4em .5em .8em;
    width: 25%;  
    height: 60px;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
};

.form__select {
    outline: none;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    height: 60px;
    width: 15%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
};

.form__button {
    width: 10%;
    height: 60px;
    background-color: #48D1CC;
    border:1px solid #48D1CC;
    border-radius: .5em;
};

